PORT=3333
CLIENT_URL=http://127.0.0.1:5180
GOOGLE_SHEET_ID=1ndwbz_5-p3RTxermOdtozHR0Y5txINgN_6KXt8NWAu8
GOOGLE_APPLICATION_CREDENTIALS=./credentials/google-service-account.json
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_USERS_SHEET=Usuarios
GOOGLE_SHEETS_TRANSACTIONS_SHEET=Movimentacoes
